/* Code to remove the up and down arrow keys using css */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for mozilla firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* End of code to remove up and down arrow keys.  */

body {
    margin: 0;
    padding: 0;
    background-color: #11235A;
}

.container {
    background-color: white;
    width: 80rem;
    margin-inline: auto;
    margin-top: 3em;
    padding: 10px;
    border: #000000 1px solid;
    border-radius: 10px;
}

.container h1 {
    background-color: #11235A;
    color: white;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;

}

.w-full {
    width: 100%;
}

.flexed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.number-inputs {
    margin-bottom: 20px;

}

.string-inputs {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 25px;
    width: 20rem;
    border-radius: 5px;
    border: 1px solid #000000;
}

.btn-submit{
    background-color: #11235A;
    color: white;
    border: none;
    margin-block: 10px;
    margin-inline: auto; 
    padding-inline: 10px;
    padding-block: 4px;
    border-radius: 4px;
    font-size: larger;
    font-weight: bolder;
}